name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 6'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: sbt/setup-sbt@v1
    - uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: adopt
    - uses: coursier/cache-action@v6
    - run: sbt scalafmtCheckAll scalafmtSbtCheck test testConscript
